<%- include('includes/header') %>

  <body>
    <%- include('includes/navbar') %>


    <div class="container">
      <!-- hamburg starts -->
      <div class="hamburg">
          <img src="/images/hamburger/burger-menu-svgrepo-com.svg" alt="">
      </div>
      <!-- hamburg ends -->
      <!-- main menu starts here -->
      <div class="main-menu inactive">
          <div class="full " id="full">
              <div class="cross">
                  <img src="/images/hamburger/cross-svgrepo-com.svg" alt="">
              </div>
              <p><span class="heading">Account Settings</span></p>
              <div class="list">
                  <p>Account info</p>
                  <p>Change Email</p>
                  <p>Password</p>
                  <p>Dashboard</p>
              </div>
          </div>
      </div>
      <!-- main menu ends here -->

      <!-- conducted events starts here -->

      <div class="c-events">
          <div class="c-heading">Your Events</div>
          <div class="c-event-box">
              <div class="event-cat-box">
                  <img src="/images/events/jr-korpa-9XngoIpxcEo-unsplash.jpg" alt="event-img">
                  <div class="event-cat-box-in">

                      <div class="event-cat-desc">
                          <h3>Event name</h3>
                          <p>Event desc</p>
          
                      </div>
                      <div class="event-cat-edit">
                          <span>Edit</span>
                          <h4>Date and time</h4>
                      </div>
                  </div>
              </div>
              
                  
          </div>


    <%- include('includes/footer') %>
  </body>
</html>