 <!-- main menu starts here -->
 <div class="main-menu">
    <div class="list">
      <p><span class="heading">My Profile</span></p>
      <p>Dashboard</p>
      <p>Contacts</p>
      <p>Notifications</p>
      <p>Conducted Events</p>
      <p>Attended Events</p>
      <p>Skills</p>
    </div>
  </div>
  <!-- main menu ends here -->