<%- include('includes/header') %>

	<body> 
		<div id="body" class="body">
			<%- include('includes/navbar') %>

				<!-- hero starts here -->
				<section class="heros">
					<div class="hero">
						<div class="hero-img">
							<img src="./images/heroimgs/aleksandr-popov-vCbKwN2IXT4-unsplash.jpg" alt="img" />
						</div>
						<div class="hero-text">
							<h1>Empower your campus!</h1>
							<p>Unlock boundless opportunities for your talents and ambitions to thrive and manage your
								event
								schedule with our dual-purpose platform.</p>
						</div>
					</div>
					<div class="hero-box">
						<!-- <div class="hero-box-text"> <p>Hire your man</p>
			</div> -->
						<div class="hero-search">
							<input type="text" placeholder="Try &quot;flutter&quot;" class="hero-search-textbox"
								style="margin-bottom: 1.5rem;" />

							<img src="./images/heroimgs/—Pngtree—search icon_4490393.png" alt="search"
								class="hero-search-btn">

						</div>
					</div>
				</section>
				<!-- hero ends here -->


			<!-- student category starts here -->
			<section class="cat">
				<div class="category">
					<div class="cat-text">
						<h2>Who are you looking for<span style="color: #7848F4; font-size: 4rem;"> ?</span></h2>
					</div>
					<div class="cat-item">
				
						<a href="/category?tag=Web Development" class="cat-item-items">
							<img src="./images/cat-imgs/austin-distel-tLZhFRLj6nY-unsplash.jpg" alt="">
							<div class="cat-txt">
								<h3>Web Development</h3>
							</div>
						</a>
						<a href="/category?tag=Flutter" class="cat-item-items">
							<img src="./images/cat-imgs/calle-macarone-15wIddvL5dU-unsplash.jpg" alt="">
							<div class="cat-txt">
								<h3>Flutter</h3>
							</div>
						</a>
						<a href="/category?tag=Automation" class="cat-item-items">
							<img src="./images/cat-imgs/dose-media-gxGtqG5ul2g-unsplash.jpg" alt="">
							<div class="cat-txt">
								<h3>Automation</h3>
							</div>
						</a>
						<a href="/category?tag=Building Design" class="cat-item-items">
							<img src="./images/cat-imgs/emily-bernal-v9vII5gV8Lw-unsplash.jpg" alt="">
							<div class="cat-txt">
								<h3>Building Design</h3>
							</div>
						</a>
						<a href="/category?tag=Current affairs" class="cat-item-items">
							<img src="./images/cat-imgs/henry-co-jPd5A9_mS-g-unsplash.jpg" alt="">
							<div class="cat-txt">
								<h3>Current Affairs</h3>
							</div>
						</a>
						<a href="/category?tag=Coding" class="cat-item-items">
							<img src="./images/cat-imgs/mark-cruz-VW2oU66mwbc-unsplash.jpg" alt="">
							<div class="cat-txt">
								<h3>Coding</h3>
							</div>
						</a>
						<a href="/category?tag=UI/UX" class="cat-item-items">
							<img src="./images/cat-imgs/soheb-zaidi-tgFR67JUcBs-unsplash.jpg" alt="">
							<div class="cat-txt">
								<h3>UI/UX</h3>
							</div>
						</a>
						<a href="/category?tag=architecture" class="cat-item-items">
							<img src="./images/cat-imgs/unseen-studio-s9CC2SKySJM-unsplash.jpg" alt="">
							<div class="cat-txt">
								<h3>architecture</h3>
							</div>
						</a>
					</div>
					<div class="cat-btn">
						<p>More categories</p>
					</div>
				</div>
			</section>
			<!-- student category section ends here -->

				<!-- extras start here -->
				<section>
					<div class="extras">
						<div class="extras-acc"><a href="/profile-accinfo">
								<img src="./images/extraimgs/Screenshot 2024-04-18 111114.png" alt="">
								<div class="extra-txt">
									<h3>Create Account</h3>
									<p>First you have to create a account here</p>
								</div>
						</div></a>
						<div class="extras-acc">
							<img src="./images/extraimgs/Screenshot 2024-04-18 111136.png" alt="">
							<div class="extra-txt">
								<h3>Search work</h3>
								<p>Search the best freelance work here</p>
							</div>
						</div>
						<div class="extras-acc">
							<img src="./images/extraimgs/Screenshot 2024-04-18 111145.png" alt="">
							<div class="extra-txt">
								<h3>Save and apply</h3>
								<p>Apply or save and start your work</p>
							</div>
						</div>

					</div>
				</section>
				<!-- Extras end here -->

				<!-- recent work starts here -->
				<section class="recent">
					<div class="recentwork">
						<div class="recent-text">
							<p style="font-size: 1.8rem; color: #9d9d9d; margin-bottom: 1px;">Choose from the best!</p>
							<h2 style="font-size: 2.5rem; margin-top: 1px;">Recently Posted <span
									style="color: #10107B;">Works</span></h2>
						</div>
						<div
							style="display: flex; cursor: pointer; align-items: center; justify-content: center; gap: 1rem;">
							<img src="./images/recentimgs/Group 10.svg " alt="arrow" style="height: 4.3rem;">
							<img src="./images/recentimgs/Group 11.svg" alt="arrow" style="height: 4.3rem;">
						</div>
					</div>
					<div class="cat-item">
				
						<a href="/category?tag=Web Development" class="cat-item-items">
							<img src="./images/cat-imgs/austin-distel-tLZhFRLj6nY-unsplash.jpg" alt="">
							<div class="cat-txt">
								<h3>Web Development</h3>
							</div>
						</a>
						<a href="/category?tag=Flutter" class="cat-item-items">
							<img src="./images/cat-imgs/calle-macarone-15wIddvL5dU-unsplash.jpg" alt="">
							<div class="cat-txt">
								<h3>Flutter</h3>
							</div>
						</a>
						<a href="/category?tag=Automation" class="cat-item-items">
							<img src="./images/cat-imgs/dose-media-gxGtqG5ul2g-unsplash.jpg" alt="">
							<div class="cat-txt">
								<h3>Automation</h3>
							</div>
						</a>
						<a href="/category?tag=Building Design" class="cat-item-items">
							<img src="./images/cat-imgs/emily-bernal-v9vII5gV8Lw-unsplash.jpg" alt="">
							<div class="cat-txt">
								<h3>Building Design</h3>
							</div>
						</a>
						<a href="/category?tag=Current affairs" class="cat-item-items">
							<img src="./images/cat-imgs/henry-co-jPd5A9_mS-g-unsplash.jpg" alt="">
							<div class="cat-txt">
								<h3>Current Affairs</h3>
							</div>
						</a>
						<a href="/category?tag=Coding" class="cat-item-items">
							<img src="./images/cat-imgs/mark-cruz-VW2oU66mwbc-unsplash.jpg" alt="">
							<div class="cat-txt">
								<h3>Coding</h3>
							</div>
						</a>
						<a href="/category?tag=UI/UX" class="cat-item-items">
							<img src="./images/cat-imgs/soheb-zaidi-tgFR67JUcBs-unsplash.jpg" alt="">
							<div class="cat-txt">
								<h3>UI/UX</h3>
							</div>
						</a>
						<a href="/category?tag=architecture" class="cat-item-items">
							<img src="./images/cat-imgs/unseen-studio-s9CC2SKySJM-unsplash.jpg" alt="">
							<div class="cat-txt">
								<h3>architecture</h3>
					<div class="recents">
						<div class="recent-box">
							<img src="./images/recentimgs/Account.svg" alt="" style="height: 5.5rem;">
							<div class="recent-box-text">
								<h4>Logo Design</h4>
								<p>Need a professional logo with writing underneath for our jewellery company</p>
							</div>
							<div class="recent-box-amt">
								<p>Highest bid <br> $500</p>
								<a href="#">Apply now</a>
							</div>
						</div>
						<div class="recent-box">
							<img src="./images/recentimgs/Canva App.svg" alt="" style="height: 5.5rem;">
							<div class="recent-box-text">
								<h4>Graphic Design</h4>
								<p>We need a graphic designer with UI/UX skills for our Furniture company</p>
							</div>
							<div class="recent-box-amt">
								<p>Highest bid <br> $500</p>
								<a href="#">Apply now</a>
							</div>
						</div>
						<div class="recent-box">
							<img src="./images/recentimgs/Material Ui.svg" alt="" style="height: 5.5rem;">
							<div class="recent-box-text">
								<h4>Need a SEO</h4>
								<p>Need a SEO for our company who will let our company to a higher level</p>
							</div>
							<div class="recent-box-amt">
								<p>Highest bid <br> $500</p>
								<a href="#">Apply now</a>
							</div>
						</a>
					</div>
				</section>
				<!-- recent work ends here -->

				<!-- event create box starts here  -->

				<div class="event-box">
					<div class="event-box-img">
						<img src="./images/createeventimg/image 3.svg" alt="create logo">
					</div>
					<div class="event-box-full">
						<div class="event-box-text">
							<h2>Make your own event</h2>
							<p>Lorem ipsum dolor sit amet, dolorem atque veritatis consectetur ad ducimus vero, dolores
								unde
								est sint!</p>
							<div id="create_event" class="event-box-btn">
								Create Events
							</div>
						</div>
					</div>
				</div>
				<!-- event create box ends here  -->


				<!-- blog section starts here -->
				<section class="blog">
					<h2>Our <span style="color: #7848F4;">Blogs</span></h2>
					<div class="blogs">
						<div class="blog-box">
							<img src="./images/blogimgs/image3.png" alt="">
							<p class="text-top">BestSelller Book Bootcamp -write, Market & Publish Your Book
								-Lucknow
							</p>
							<p class="text-mid">Saturday, March 18, 9:30 PM</p>
							<p class="text-bottom">ONLINE EVENT - Attend anywhere</p>
						</div>
						<div class="blog-box">
							<img src="./images/blogimgs/image3.png" alt="">
							<p class="text-top">BestSelller Book Bootcamp -write, Market & Publish Your Book
								-Lucknow
							</p>
							<p class="text-mid">Saturday, March 18, 9:30 PM</p>
							<p class="text-bottom">ONLINE EVENT - Attend anywhere</p>
						</div>
						<div class="blog-box">
							<img src="./images/blogimgs/image3.png" alt="">
							<p class="text-top">BestSelller Book Bootcamp -write, Market & Publish Your Book
								-Lucknow
							</p>
							<p class="text-mid">Saturday, March 18, 9:30 PM</p>
							<p class="text-bottom">ONLINE EVENT - Attend anywhere</p>
						</div>
						<div class="blog-box">
							<img src="./images/blogimgs/image3.png" alt="">
							<p class="text-top">BestSelller Book Bootcamp -write, Market & Publish Your Book
								-Lucknow
							</p>
							<p class="text-mid">Saturday, March 18, 9:30 PM</p>
							<p class="text-bottom">ONLINE EVENT - Attend anywhere</p>
						</div>
						<div class="blog-box">
							<img src="./images/blogimgs/image3.png" alt="">
							<p class="text-top">BestSelller Book Bootcamp -write Market & Publish Your Book -Lucknow
							</p>
							<p class="text-mid">Saturday, March 18, 9:30 PM</p>
							<p class="text-bottom">ONLINE EVENT - Attend anywhere</p>
						</div>
						<div class="blog-box">
							<img src="./images/blogimgs/image3.png" alt="">
							<p class="text-top">BestSelller Book Bootcamp -write, Market & Publish Your Book
								-Lucknow
							</p>
							<p class="text-mid">Saturday, March 18, 9:30 PM</p>
							<p class="text-bottom">ONLINE EVENT - Attend anywhere</p>
						</div>
						<div class="blog-box">
							<img src="./images/blogimgs/image3.png" alt="">
							<p class="text-top">BestSelller Book Bootcamp -write, Market & Publish Your Book
								-Lucknow
							</p>
							<p class="text-mid">Saturday, March 18, 9:30 PM</p>
							<p class="text-bottom">ONLINE EVENT - Attend anywhere</p>
						</div>
						<div class="blog-box">
							<img src="./images/blogimgs/image3.png" alt="">
							<p class="text-top">BestSelller Book Bootcamp -write, Market & Publish Your Book
								-Lucknow
							</p>
							<p class="text-mid">Saturday, March 18, 9:30 PM</p>
							<p class="text-bottom">ONLINE EVENT - Attend anywhere</p>
						</div>
						<div class="blog-box">
							<img src="./images/blogimgs/image3.png" alt="">
							<p class="text-top">BestSelller Book Bootcamp -write, Market & Publish Your Book
								-Lucknow
							</p>
							<p class="text-mid">Saturday, March 18, 9:30 PM</p>
							<p class="text-bottom">ONLINE EVENT - Attend anywhere</p>
						</div>
						<div class="blog-box">
							<img src="./images/blogimgs/image3.png" alt="">
							<p class="text-top">BestSelller Book Bootcamp -write, Market & Publish Your Book
								-Lucknow
							</p>
							<p class="text-mid">Saturday, March 18, 9:30 PM</p>
							<p class="text-bottom">ONLINE EVENT - Attend anywhere</p>
						</div>
						<div class="blog-box">
							<img src="./images/blogimgs/image3.png" alt="">
							<p class="text-top">BestSelller Book Bootcamp -write, Market & Publish Your Book
								-Lucknow
							</p>
							<p class="text-mid">Saturday, March 18, 9:30 PM</p>
							<p class="text-bottom">ONLINE EVENT - Attend anywhere</p>
						</div>
						<div class="blog-box">
							<img src="./images/blogimgs/image3.png" alt="">
							<p class="text-top">BestSelller Book Bootcamp -write, Market & Publish Your Book
								-Lucknow
							</p>
							<p class="text-mid">Saturday, March 18, 9:30 PM</p>
							<p class="text-bottom">ONLINE EVENT - Attend anywhere</p>
						</div>
						<div class="blog-box">
							<img src="./images/blogimgs/image3.png" alt="">
							<p class="text-top">BestSelller Book Bootcamp -write, Market & Publish Your Book
								-Lucknow
							</p>
							<p class="text-mid">Saturday, March 18, 9:30 PM</p>
							<p class="text-bottom">ONLINE EVENT - Attend anywhere</p>
						</div>
						<div class="blog-box">
							<img src="./images/blogimgs/image3.png" alt="">
							<p class="text-top">BestSelller Book Bootcamp -write, Market & Publish Your Book
								-Lucknow
							</p>
							<p class="text-mid">Saturday, March 18, 9:30 PM</p>
							<p class="text-bottom">ONLINE EVENT - Attend anywhere</p>
						</div>
					</div>
				</section>
				<!-- blog section ends here  -->

				<%- include('includes/footer') %>
		</div>

		<%- include('includes/org-popup') %>




	</body>

	</html>