<!-- hamburg starts -->
<div class="hamburg">
    <img src="./images/hiba/burger-menu-svgrepo-com.svg" alt="">
   </div>
   <!-- hamburg ends -->
   <!-- main menu starts here -->
        <div class="main-menu inactive">
          <div class="full " id="full">
            <div class="cross">
              <img src="./images/hiba/cross-svgrepo-com.svg" alt="">
            </div>
            <p><span class="heading">Account Settings</span></p>
            <div class="list">
              <a href="/dashboard"><p>Dashboard</p></a>
              <!-- <a href=""><p>Notifications</p></a> -->
              <a href="/profile-attended-events"><p>Attended Events</p></a>
              <a href="/skills"><p>Skills</p></a>
            </div>
          </div>
        </div>
        <!-- main menu ends here -->