<!-- hamburg starts -->
<div class="hamburg">
    <img src="./images/hiba/burger-menu-svgrepo-com.svg" alt="">
   </div>
   <!-- hamburg ends -->
   <!-- main menu starts here -->
        <div class="main-menu inactive">
          <div class="full " id="full">
            <div class="cross">
              <img src="./images/hiba/cross-svgrepo-com.svg" alt="">
            </div>
            <p><span class="heading">Account Settings</span></p>
            <div class="list">
              <a href="/profile-accinfo"><p>Account info</p></a>
              <a href="/profile-Change-Email"><p>Change Email</p></a>
              <a href="/profile-Change-Password"><p>Password</p></a>
              <a href="/dashboard"><p>Dashboard</p></a>
            </div>
          </div>
        </div>
        <!-- main menu ends here -->

    

