<section class="navbar">
    <nav class="nav">
        <div class="logo">Event <span class="logo-2">IO</span></div>
        <div class="navmid">
            <ul class="nav-list">
                <li><a href="/" class="an">Home</a></li>
                <li><a href="/events" class="an">Events</a></li>
                <li><a href="#" class="an">Sponser</a></li>
                <li><a href="#" class="an">Schedule</a></li>
            </ul>
        </div>
        <div class="navend">
            <a href="/signup" class="btn">Signup</a>
            <a href="/login" class="btn-1">Login</a>
        </div>
    </nav>
</section>