.all-noti{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.notification {
    padding: 1rem 1.5rem;
    width: max-content;
    height: max-content;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.noti-content {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.event_name {
    font-weight: bold;
    font-size: 1.5rem;
}

.notification-title {
    font-size: 1.3rem;
    font-weight: bold;
}

.notification-details {
    font-size: 1.3rem;
}

.button-group {
    display: flex;
    gap: .8rem;
    justify-content: space-between;
}

.approve{
    display: flex;
    gap: 1rem;
    align-items: center;

}
.approve span {
    font-size: 1.1rem;
    font-weight: bold;
}
.approve img{
    width: 2rem;
}

.view-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .8rem 2.5rem;
    background-color: violet;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.1rem;
    flex: 1;
    height: max-content;
}

.view-btn {
    background-color: #28a745;
}

.view-btn:hover {
    background-color: #218838;
}

.approve-btn:last-child {
    margin-right: 0;
}