 /* hamburg starts */
 .hamburg img{
    width:4rem;
    cursor: pointer;
    font-family: poppins;
    }
  
    .inactive{
      width:4rem;
      display: none;
    }
  a{
    text-decoration: none;
  }
    .cross img{
      width: 3.5rem;
      margin-left: 15rem;
      margin-top: -1rem;
      cursor: pointer;
    }
  
    /* .active{
      display: block;
    } */
  
    /* hamburg starts */
    
    /* main-menu starts here */
  
    .container{
      display: flex;
    }
  
    .main-menu{
     width: 20%;
     height: 100%;
    }
    .body{
      height: 100%;
      width: 100%;
      display: flex;
    }
    .full{
      border-top-right-radius: .7rem ;
      padding: 1.3rem 0rem;
      height:110vh;
      background-color: #7848F4;
      width:100%;
     
    }

    .new-new{
      width: 80%;
    }
    
    .list a{
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items: start;
      text-align: center; 
      font-size: 1.2rem;
      padding: 0rem 2.5rem;
      color: #ffffff;
      text-decoration: none;
      font-family: poppins;
    }
  
    .list.orgp{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .list.orgp a{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items:center;
      text-align: center; 
      font-size: 1.2rem;
      padding: 0;
      color: #ffffff;
      text-decoration: none;
      font-family: poppins;    
    }

    .heading{
      margin-top: -2rem;
      width: 100%;
      /* margin-left: 1.3rem; */
      font-weight: bold;
      font-size: 1.4rem;
      font-family: poppins;
      color: #ffffff;
    }
    .full p{
      text-align: center;
    }
    .list.orgp a:hover{
      background-color: #ab8df6;
    }
  /* mainmenu ends */