*{
    margin: 0px;
    padding: 0px;
}


/* .background{
    height: 100vh;
    background-image: url(./jr-korpa-9XngoIpxcEo-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(4px);
    position: relative;

} */

.signup{
    display: flex;
    height: 40rem;
    width: 80rem;
    margin: auto;
    margin-top: 3rem;
    border-radius: 5rem;
   
}

.signup-left{
    display: flex;
    width: 50%;
    background-color: black;
    position: relative;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;

}

.signup-right{
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    background-color: #eeeef3fa;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

.signup-txt{
    height: 19%;
    width: 100%;    
}
.signup-txt h1{
    font-size: 1.3rem;
    padding-top: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}

.signup-txt h2{
    font-size: 1.7rem;
    font-family:Arial, Helvetica, sans-serif ;
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
}

.signup-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form label{
    font-size: 1rem;
    width: 30rem;
    height: 2rem;
    display: flex;
    align-items: end;
    padding-left: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.signup-form input{
    height: 3rem;
    padding-left: 1rem;
    border-radius: 0.8rem;
    border: none;
    border-color:#ffffff ;
    width: 25rem;
    margin-top: 0.3rem;
}

.signup-form .form-sbmt{
    margin-top: 1.5rem;
    width: max-content;
    padding: .5rem 2rem;
    border-radius: 0.4rem;
    border-color: #E0E0E9;
    background-color: #7848F4;
    color: #F8F8FA;
    font-size: medium;
    font-weight:bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all ease 400ms;
}
.form-sbmt:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.google button{
    display: flex;
    width: 14rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    background-color:white ;
    border-color: #dfdfeb;
    border-radius: 0.4rem; 
    cursor: pointer;
}

.google img{
    width: 1.5rem;
    margin-right: 1rem;
}

.google p{
    font-size: medium;
    font-family: sans-serif;
}

.signup-form h4{
    width: 6rem;
    margin: 1rem 1rem;
    font-weight: lighter;
    font-size: 1.2rem;
    color: rgb(115, 115, 109);
}



.signup-img img{
    width: 35rem;
    height: 40rem;
    object-fit: cover;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    opacity: 0.5;
}

.signup-img-txt {
    width: 28rem;
    display: flex;
    flex-direction: column;
    align-items: center;    
    position: absolute;
    top: 40%;
    font-size: 18px;
    padding-left: 5rem;
}
  
.signup-img-txt h2{
    display: flex;
    justify-content: center;
    color: #dfdfeb;
    font-size: 2rem;
}

.signup-img-txt p{
    margin-top: 2rem;
    width: 28rem;
    color: #E0E0E9;
    margin-bottom: 2rem;
}

.signup-img-txt button{
    width: 7rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    height: 3rem;
    align-items: center;
    border-radius: 2rem;
    font-size: 1.2rem;
    font-weight: bolder;
    background-color: #ebebf2e3;
    color: #5921e7;
    transition: all ease 400ms;
}
.signup-img-txt button:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: #7848F4;
    color: #dfdfeb;
}